<section class="user-section">
  <h2><%= "#{@user.name}" %></h2>
  <%= friendship(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
        <%= render @posts if @posts %>
    </ul>
  </article>
</section>

<aside class="friends-list">
  <h2>Friends</h2>
  <ul>
    <% @invites.each do |x| %>
    <li>
      <%= friend_list(@user, x) %>
    </li>
    <%end%>
  </ul>
</aside>